/*body{
	margin: auto;
	width: 500px;
	text-align: center;
}

dl{
	
}

dt{
	font-size: 22px;
	background-color: #BBB;
	border-bottom: 1px solid black;
	border-top: 1px solid white;

}

dd{
	margin-left: 0px;
}

dt:nth-last-child(2) {
	border-bottom: none;
}
*/
